node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock
dist
build
release
coverage
.turbo
.next
out
*.log
apps/desktop/.erb
apps/desktop/release
web-bundles
*.md

vision_wasm_internal.js
vision_wasm_nosimd_internal.js